[route53]
hosted_zone:  "AWS Console->Services-Route 53->Hosted Zone->Hosted Zone ID"
domain_name: unit-test-zone.com

[health_check]
name: kube-ingress
port: 80
protocol_type: HTTP
ResourcePath: /
RequestInterval: 10
FailureThreshold: 3

[dns_record_set]
type: A
Weight: 10
TTL: 15
comment: "Created by aws-route-53 automation"

[dns_record_type]
# Route53 DNS type simple
# -will create the DNS record set with the ec2 instance ID
#type: simple

# Route53 DNS type weighted
# -will create the DNS record set all with the same name
type: weighted
dns_name: kube-ingress-us-east-1

[machine_filter]
ec2_tag_key: label
ec2_tag_value: kube-prod1-slave-external
